@charset 'utf-8';

/* 웹폰트 정의 */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@500&display=swap");
:root {
  --main-color: #3189ff;
  --main-color-dark: #1f60b8;
  --title-color: #222;
  --text-color: #555;
  --line-color: #bdbdbd;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font: 1.6rem/1.5 "Jost", "Noto Sans Kr", sans-serif;
  color: var(--text-color);
  word-break: keep-all; /* wbka 어절단위 줄바꿈 */
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}
hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

::selection {
  background: var(--main-color);
  color: #fff;
}

img {
  max-width: 100%;
}

button,
label {
  cursor: pointer; /* cup */
}
.inner {
  width: 118rem;
  margin: 0 auto;
  background: rgba(225, 225, 0, 0.15);
  position: relative;
  height: 100%;
  /* 늘상 posr과 h100p를 적어도 된다. 부모가 100p를 가지고 있어 가 그대로를 가져올수 있다. */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 세로기준 중앙정렬 */
  height: 12rem;
}
#header {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* BXSH 드랍쉐도우 */
}

.logo a {
  display: block;
  width: 16.4rem;
  height: 3.2rem;
  background: url(../img/header-logo.svg) no-repeat 0 0 / cover;
}
.btn-menu {
  width: 4.8rem;
  height: 4.8rem;
  background: url(../img/ico-menu.svg) no-repeat 50%;
  display: none;
}
.gnb {
  display: flex;
}

.gnb li a {
  display: block;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--title-color);
}
.gnb li a:hover {
  color: var(--main-color);
}

#footer {
  background: #333;
  color: rgba(255, 255, 255, 0.6);
  padding: 5.2rem 0;
}
.foot-con {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse; /* fxdrr 위치를 반대로 바꾸는 말이다.*/
}
.foot-logo {
  display: block;
  width: 16.4rem;
  height: 3.2rem;
  background: url(../img/foot-logo.svg) no-repeat 0 0 / cover;
}
.foot-text {
  font-weight: 900;
  font-size: 1.4rem;
}
.foot-text p {
}
/* 반응형 분기점 */
@media (max-width: 1180px) {
  .inner {
    width: 94.5313%; /* 태블릿 크기를 먼저 적용 */
  }
}

/* 태블릿 디자인 */
@media (max-width: 1024px) {
  nav {
    height: 10rem;
  }
  .gnb {
    display: none;
  }
  .btn-menu {
    display: block;
  }
}

/* 모바일 디자인 */
@media (max-width: 500px) {
  .inner {
    width: 89.7436%;
  }
  .foot-con {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    text-align: center;
  }
  .foot-text p + p {
    margin-top: 1.2rem;
  }
}
